# build intermediates
*.o
*.d
tests/suite_runner.c
*-prefix

# build products
scripter
scripter_tests
tags
libbinscript.a
libbinscript.so

# cmake stuff
CMakeFiles/
CMakeCache.txt
Makefile
compile_commands.json
cmake_install.cmake

# vim workflow stuff
.ycm_*
*.swp

# nixos shell outputs
result

#misc
*.old
